* {
    margin: 0;
    padding: 0;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 20px;
    box-sizing: border-box;
    border: 1px dotted transparent;
}

img,
button {
    border: 1px dotted transparent;
}

img:hover,
button:hover {
    border: 1px dotted white;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #fff4fd;
}

.fullPageContainer {
    width: 80%;
    min-width: 480px;
    max-width: 1438px;
    height: auto;
    margin: auto;
}

.nav {
    padding: 0;
    margin-top: 1px;
    font-size: 18px;
    width: 100%;
    height: 23px;
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    box-shadow: 0 1px 0 0 #110038;
}

.navtop {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 35px;
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    color: white;
    line-height: 15px;
}

.nav p {
    padding: 2px;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
}

.logo {
    margin-top: 35px;
    width: 80px;
    height: 80px;
}

.searchcontainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    width: auto;
    height: auto;
    margin: auto;
    background-color: plum;
    margin-bottom: 30px;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.searchcontainer>div {
    font-size: 16px;
    font-weight: bold;
    margin-top: 3px;
    width: 99.6%;
    align-self: center;
    overflow: hidden;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.searchcontainer input {
    outline: none;
    margin: 3px 5px;
    width: 100%;
    min-width: 300px;
    text-indent: 10px;
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
}

.Sbutton {
    width: 120px;
    height: 50px;
    cursor: pointer;
    background-color: salmon;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
}

.Sbutton:hover {
    background-color: red;
}

.Sbutton:hover::before {
    content: "";
    position: absolute;
    width: 105px;
    height: 46px;
    border: 1px dotted black;
    border-radius: 5px;
}


/*  */

.searchtext {
    width: 100%;
}

.tagcontainer {
    justify-content: stretch;
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.tagcontainer button {
    padding: 5px;
    margin: 2px;
    font-size: 12px;
    background-color: blue;
    color: white;
    cursor: pointer;
    margin-bottom: 5px;
}

.imgcontainer {
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

.imgcontainer a {
    margin-bottom: 12px;
}

.normalsize {
    width: 345px;
    min-width: 240px;
    height: 345px;
    box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #fff;
    animation: test 5s ease-in-out infinite;
    background: linear-gradient(#110038, #fff4fd);
}

.bigsize {
    width: 702px;
    min-width: 240px;
    height: 345px;
    box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #fff;
    background: linear-gradient(#110038, #fff4fd);
}

.pic {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 99.5%;
    height: 99%;
}

.picHeader {
    margin: 0;
    padding: 0;
    width: auto;
    height: 20px;
    background-color: blue;
}

@media (max-width:600px) {
    .bigsize {
        width: 345px;
    }
}